INHERIT: ../mkdocs.yml

################ Project information ################
docs_dir: '../../docs/fr/'
site_dir: '../../generated/fr/'
site_description: >-
  Technical Margins est un espace d'exploration des marges de la rédaction technique. Destiné aux rédacteurs techniques et aux esprits curieux, ce blog arpente les couches dérobées de la documentation, des réflexions aléatoires et l'art de partager des informations variées.

################ Language configuration ################
theme:
  language: fr

plugins:
  - blog
  - search:                                         
      lang: fr

################ Analytics feedback localisation ################
extra:
  analytics: 
    feedback:
      title: Qu'en pensez-vous ?
      ratings:
        - icon: material/thumb-up-outline
          name: Cet article est inspirant
          data: 1
          note: >-
            Merci de votre retour
        - icon: material/thumb-down-outline
          name: Je vois les choses différemment
          data: 0
          note: >- 
            Merci de votre retour

################ Nagivation ################
nav:
  - Accueil:
    - index.md
  - Blog:
    - blog/index.md
  - À propos:
    - about/index.md